In [ ]:
# 1  For,is,else and elif are keywords in python. Keywords are special words that have some meaning in python.

In [1]:
 #2  area=(a*b)

NameError: name 'area' is not defined

In [19]:
#6    x='3.14'

In [21]:
print type(x)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (184554864.py, line 1)

In [25]:
print(type(x))

<class 'str'>

In [33]:
 #8  str1='i am yash'
     str2='i am 23 years old'

In [35]:
print (str1+str2)

i am yashi am 23 years old

In [ ]:
#9 The output of 3>2 is 'true' which is a string.

In [ ]:
# 11 lst=[1,2,3,4,5]

In [37]:
print lst[3]

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4030078047.py, line 1)

In [39]:
print[3]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [43]:
print(list[3])

list[3]

In [45]:
print(lst[3])

NameError: name 'lst' is not defined

In [60]:
 #12  my_list=[1,2,3,4,5]

In [68]:
my_list.append(6)

In [70]:
print(my_list)

[1, 2, 3, 4, 5, 6, 6]

In [ ]:
#13    lst.

In [72]:
print(my_list)

[1, 2, 3, 4, 5, 6, 6]

In [74]:
my_list.pop(6)

6

In [76]:
print(my_list)

[1, 2, 3, 4, 5, 6]

In [82]:
my_list.pop(5)

6

In [84]:
print(my_list)

[1, 2, 3, 4, 5]

In [3]:
#14 num=(1,2,3,4)

In [5]:
num=

SyntaxError: invalid syntax (273387238.py, line 1)

In [7]:
type(num)

tuple

In [13]:
print(num)

(1, 2, 3, 4)

In [15]:
# # It comes as an error as for a tuple it is immutable which means it cant be edited . Although this can be done if it is converted into a list.

In [54]:
 my_dict= {'name':'Alice''age':25}

SyntaxError: invalid syntax (1238173086.py, line 1)

In [56]:
 my_dict('name')

NameError: name 'my_dict' is not defined

In [58]:
my_dict[name]

NameError: name 'my_dict' is not defined

In [60]:
print(my_dict)

NameError: name 'my_dict' is not defined

In [62]:
my_dict

NameError: name 'my_dict' is not defined

In [64]:
'name'

'name'

In [ ]:
#19 A list is a data structure and is  container that stores data . It is mutable and is stored in[] brackets. A set is a data structure of unique elements. It is represented in() bracketds.

In [66]:
# 21 if x>11: print("x is greater than 10")

In [68]:
# 25 if x<367 print("it is a leap year")

In [ ]:
# 27 if 5 >= x <=10