In [90]:
#2 print(2*3+4)   # First multiplication will be executed and then addition according to BODMASS.

In [88]:
#3  print(8/2*5) # Fist division will be executed then multiplication.

In [ ]:
# 4  15/4

In [123]:
#5 C= (100-32)

In [92]:
 #6  print(10//3+2**3)

11

In [ ]:
#7 True

In [ ]:
#8 False

In [ ]:
# 10 Float

In [ ]:
# 13 4 +3.5= 7.5 . This is a float as it contains a decimal point.

In [ ]:
# 15 You can find the type of a variable by using type () function.

In [104]:
 x='my name is yash '

In [111]:
 #16        print (type(x))

<class 'str'>

In [ ]:
 # 17 lst=[]

In [113]:
l1=[1,2,3]

NameError: name 'lst' is not defined

In [117]:
l1.append (42)

NameError: name 'l1' is not defined

In [119]:
#20 List is a data structure which is a container. It is denoted with square brackets. It is mutable as it can be edited.

NameError: name 'l1' is not defined

In [ ]:
# Tuple is a data structure in python. It is denoted with round brackets . It is immutable which means it sdata cannot be directly edited it can also be edited if its converted into a list first.

In [121]:
# 21 set()={1,2,3}

In [ ]:
#22 A function named .remove is used to remove an element from a set.

In [127]:
 my_dict= 'name'='Alice','age=25}

NameError: name 'value1' is not defined

In [131]:
my_dict= {key1:value1}

NameError: name 'key1' is not defined

In [137]:
my_dict={key1:value1} value1='Alice'

SyntaxError: invalid syntax (3366798448.py, line 1)

In [135]:
print(value1)

NameError: name 'value1' is not defined