In [ ]:
#1 The difference is that in simple linear regression we have only one coffecient while in multiple linear regression we have multiple coffiecients.

In [ ]:
#2 The performance of a linear regression model can  be evalulated using the r2 metric. It works on the formula of TSS - RSS divided by TSS.

In [ ]:
#4 The purpose of regularization is to restrict the model and prevent it from overfitting.

In [ ]:
# L1 regularization it brings unwanted values to zero and eliminates them from the data, while l2 regularization removes un wanted values but does not bring their values to zero.

In [ ]:
#5 Logistic regression works on classfied data while linear regression works on continious data.

In [ ]:
# 7 Multicollinearity problem is when there is corelation in the values in dataset and regularization can help solving this problem.

In [ ]:
# 8 A decision tree alogrithm looks like a tree which contains branches which contrains nodes and each node leads to another node.

In [ ]:
#9 Gini impurity is one such criteria used to split a node it helps in measuring the level of impurity in the data.

In [ ]:
#10 The depth of a decision tree can be seen by seeing the nodes between the primary leaf node until the deepest node.

In [5]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/s4sauravv/Datasets/refs/heads/main/Admission_Prediction.csv")

In [7]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [9]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,485.000000,490.000000,485.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.558763,107.187755,3.121649,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.274704,6.112899,1.146160,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [15]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [19]:
data.drop(columns=['SerialNo'], inplace=True)

KeyError: "['SerialNo'] not found in axis"